.hero {
  padding-bottom: 48px;
}

.hero-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.picture {
  height: 250px;
  padding-top: 10px;
}

.hero-info {
  font-size: 22px;
}

.info-name {
  color: #fc5185;
  font-size: 30px;
}

@media only screen and (max-width: 720px) {
  .hero-body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .picture {
    height: 200px;
  }

  .hero-info {
    font-size: 16px;
  }

  .info-name {
    font-size: 25px;
  }
}
